.container {
  display: grid;
  grid-template-columns: 2em auto 2em;

  & > * {
    grid-column: 2;
  }

  & > .cta {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: minmax(2em, 1fr) auto minmax(2em, 1fr);

    & > * {
      grid-column: 2;
    }
  }
}

@include for-tablet-landscape-up {
  .container {
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  }
}
