$colors-primary: (
  dark-blue-intro: hsl(217, 28%, 15%),
  dark-blue-main: hsl(218, 28%, 13%),
  dark-blue-footer: hsl(216, 53%, 9%),
  dark-blue-testiomonials: hsl(219, 30%, 18%)
);

$colors-accent: (
  cyan: hsl(176, 68%, 64%),
  blue: hsl(198, 60%, 50%)
);

$color-neutral: hsl(0, 0%, 100%);
